[MASTER]
extension-pkg-whitelist=
fail-under=10.0
ignore=
      unittests,
      _tests,
ignore-patterns=
      test_.*?py,
jobs=0
limit-inference-results=512
persistent=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
confidence=
disable=
      comparison-with-callable,
      cyclic-import,
      logging-fstring-interpolation,
      missing-module-docstring,
      nan-comparison,
      no-self-argument,
      protected-access,
      too-many-ancestors,
      too-many-instance-attributes,
      too-few-public-methods,

enable=c-extension-no-member

[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
score=no

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
min-similarity-lines=10

[LOGGING]
logging-format-style=new
logging-modules=logging

[VARIABLES]
allow-global-unused-variables=yes
callbacks=cb_,_cb
dummy-variables-rgx=(_+[a-zA-Z0-9_]*?$)|dummy|args|kwargs|^ignored_|^unused_
ignored-argument-names=_.*|args|kwargs|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io

[FORMAT]
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000  # tightened from 3600, SDKs should be modular
single-line-class-stmt=no
single-line-if-stmt=no

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1

[STRING]
check-quote-consistency=no
check-str-concat-over-line-jumps=no

[BASIC]
argument-naming-style=snake_case
argument-rgx=[a-z]+
attr-naming-style=snake_case
bad-names=foo,bar,baz,toto,tutu,tata
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
docstring-min-length=-1
function-naming-style=snake_case
good-names=Run,_
good-names-rgxs=[a-z],[a-z][a-z]
include-naming-hint=no
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix

[CLASSES]
check-protected-access-in-special-methods=no
defining-attr-methods=__init__,
                      __new__,
                      setUp,
                      __post_init__
exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[DESIGN]
max-args=6
max-attributes=6
max-bool-expr=5
max-branches=14
max-locals=20
max-parents=7
max-public-methods=15
max-returns=6
max-statements=50
max-positional-arguments=6
min-public-methods=2

[EXCEPTIONS]
overgeneral-exceptions=builtins.BaseException,
                       builtins.Exception

[only:tests.py,_tests]
disable=
      duplicate-code,
      invalid-name,
      line-too-long,
      singleton-comparison,
      too-many-locals,
      too-many-statements,
      unused-argument,
